@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Login</h2>
    <label>Tài khoản</label>
    <input required><br><br>

    <label>Mật khẩu</label>
    <input required><br><br>

    <a href="/Home/Logon?returnUrl=/Home/Logon">Go to</a>
</div>
